# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database
*.sqlite3
*.db

# Flask environment variables
.env
*.env

# Instance folder (Flask's runtime storage)
instance/
migrations/
*.log

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy and Pyright
.mypy_cache/
.pyright/

# Environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
